/* Importar CSS */
@import url('./styles.css');
@import url('./variaveis.css');
@import url('./cardStyle.css');

/* Estilos Globais */
body p {
    font-size: 23px;
}

/* Header */
.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #045f41;
    width: 100%;
}

.section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
}

.logo {
    object-fit: contain;
    max-width: 70px;
    border-radius: 25px;
}

.header a {
    text-decoration: none;
}

.links-nav {
    display: flex;
    list-style: none;
    gap: 50px;
}

.item-link {
    transition: all 0.5s;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.item-link a {
    transition: all 0.5s;
    cursor: pointer;
    padding: 10px;
    color: #FFFFFF;
    font-weight: bold;
}

.item-link:hover {
    transform: scale(1.17);
    border-bottom: 1px solid black;
}

/* Main */
.main {
    margin: 20px 0px;
    min-height: calc(100vh - 10vh);
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.title h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #045f41;
    text-decoration: underline;
    box-shadow: rgba(0, 0, 0, 0.158) 0px 54px 55px;
}

.image-icone {
    max-width: 30px;
}

.article-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: auto;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #045f41;
    height: calc((100% - 2 * 20px) / 3);
    border-radius: 25px;
    padding: 20px;
    gap: 20px;
    animation: fadeIn 1s ease forwards;
    margin-left: 20px;
    margin-right: 20px;
}

.hero p {
    line-height: 150%;
    font-size: 25px;
    text-align: center;
    max-width: 30%;
    color: #FFFFFF;
    min-height: 250px;
}

.hero img {
    max-width: 70%;
    border-radius: 20px;
}

.hero-none {
    display: none;
}

/* Sobre Section */
.sobre-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px;
}

.sobre-section h2 {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #045f41;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.sobre-section p {
    display: flex;
    align-items: center;
    margin-top: 10px;
    max-width: 500px;
    text-align: center;
    background-color: #045f41;
    padding: 10px;
    border-radius: 20px;
    min-height: 400px;
    color: #FFFFFF;
}

/* Container Materiais */
.container-materiais {
    max-width: 50%;
    margin: auto;
    text-align: center;
}

.container-materiais h2{
    font-weight: bold;
    font-size: 30px;
    color: #045f41;
}



.materiais {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 30px;
    align-items: center;
    justify-content: center;
}

.materiais-celula {
    background-color: #ffffff; /* Apenas para visualização */
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    border: 2px solid #045f41;
    border-radius: 20px;
}

/* Footer */
.footer {
    background-color: #045f41;
    color: #ffffff;
    text-align: center;
    padding: 20px;

    width: 100%;
}

.footer p {
    margin: 0;
    font-size: 14px;
}


/* Media Queries */
@media (max-width: 1300px) {
    .sobre-section p {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    .hero p {
        font-size: 20px;
    }
}

@media (max-width: 1100px) {
    .sobre-section {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .links-nav {
        gap: 20px;
    }

    .section-header {
        margin: 0 20px;
    }
}

@media (max-width: 990px) {
    .hero {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin: 20px 20px;
    }

    .hero p {
        width: 100%;
        max-width: none;
    }
    .hero img {
        max-width: 95%;
    }
}

@media (max-width: 690px) {
    .header {
        height: auto;
        background-color: #045f41;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-header {
        margin: 10px 0;
        flex-direction: column;
    }

    .links-nav {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .item-link {
        cursor: pointer;
        border-radius: 10px;
        padding: 10px;
        background-color: var(--light-color);
        width: 170%;
        text-align: center;
    }

    .item-link a {
        color: var(--primary-color);
    }

    .hero p {
        padding: 10px;
        font-size: 20px;
        line-height: 150%;
    }

    .hero img {
        max-width: 95%;
    }
}

@media (max-width: 490px) {
    .hero img {
        max-width: 300px;
    }

    .materiais {   
        grid-template-columns: repeat(2, 1fr);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
